<div class="hero-image">
    <div class="hero-text">
        <h1>CulTourist</h1>
    </div>
</div>

<div class="container center-align">
    <div class="row">
        <form class="col s12">
            <h2>Manage Your Posts</h2>
            <div class="row">
                <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Select your name</option>
                        <option value="authorName">
                            {{#each user}}
                            <li><a href="/user/
                            {{this.id}}">
                            {{this.full_name}}
                            </a></li>
                            {{/each}}
                        </option>
                    </select>
                </div>
                <button class="btn waves-effect waves-light blue darken-4" type="submit" name="action">Submit
                </button>
            </div>
        </form>
    </div>


    <!--This Div will contain the dynamically populated Post Cards-->
    {{#each post}}
    <div class="row">
        <div class="col s12">
            <div class="card light-grey darken-1">
                <div class="card-content white-text">
                    <h5>Title CONTENT{{this.title}}</h5>
                    <p> Category TYPE{{this.category}}</p>
                    <p> Body CONTENT{{this.body}}</p>
                </div>
                <div class="card-action">
                <a class="btn waves-effect waves-light blue darken-4 updatebtn">Update</a>
                <a class="btn waves-effect waves-light blue darken-4 deletebtn">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<script src="/assets/index.js"></script>


